html {
    background-color: #fafafa;
}

.container-fluid {
    background-color: #fafafa;
}
.header {
    font-family: 'Permanent Marker', cursive;
    margin-top: 50px;
    text-align: center;
    font-size: 4.1rem;
    color: #07689f;
}

.sub-header {
    font-family: 'Leckerli One', cursive;
    text-align: center;
    font-size: 3rem;
    color: #a2d5f2;
}


.form-group{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    color: #737373;

}

.form {
    margin-top: 80px;
}

.btn {
    margin-top: 50px;
    margin-bottom: 100px;
}


.col-sm-12 {
    font-size: 5rem;
}

.result-boxes {
    display: inline-block;
    margin-left: 70px;
    margin-bottom: 60px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    color: #737373;
    box-shadow: inset 0 0  10px #737373;
    background: #ffffff;
    text-align: center;
}

.result-boxes p {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}



